.drop-box {
  /* height: 200px; */
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 70px 0px rgba(110, 130, 208, 0.18);
  margin: 5px 0;
  transition: all 0.3s;
  padding: 15px;
  flex-grow: 1;
}

.drop-box:not(:first-child) {
  /* height: 200px; */
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 70px 0px rgba(110, 130, 208, 0.18);
  margin: 5px 0;
  transition: all 0.3s;
  padding: 15px;
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 00px;
}


.drop-box-wrapper{
  display: flex;
  flex-wrap: wrap;
}
.drop-box p {
  color: #4c4c4c;
  line-height: 1.4rem;
  font-family: "Abel", sans-serif;
}

.drop-box h1 {
  color: #222222;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  margin: 0;
}

.drop-box h2 {
  color: #222222;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  margin: 15px;
  font-size: 1.5em;
}

.drop-box img {
  width: 200px;
}
